{% extends "base.html" %} 
{% block content %}

  {% load static %}
  <!-- price section -->
  <!--
  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our articles
        </h2>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="name">
            <h3>
              Comment connaître les caractéristiques de votre serveur ?
            </h3>
            <span>
              Apprenez tout ce qu'il y a savoir sur les caractéristiques de votre serveurs et comment les booster
            </span>
          </div>
          <div class="img-box">
            <img class="w-100" src="{% static 'images/server-room-center-rendered-data.jpg'%}" alt="">
          </div>
          <div class="detail-box">
            <a href="">
              Read more
            </a>
          </div>
        </div>
        <div class="box">
          <div class="name">
            <h3>
              Comment connaître les caractéristiques de votre serveur ?
            </h3>
            <span>
              Apprenez tout ce qu'il y a savoir sur les caractéristiques de votre serveurs et comment les booster
            </span>
          </div>
          <div class="img-box">
            <img class="w-100" src="{% static 'images/server-room-center-rendered-data.jpg'%}" alt="">
          </div>
          <div class="detail-box">
            <a href="">
              Read more
            </a>
          </div>
        </div>
        <div class="box">
          <div class="name">
            <h3>
              Comment connaître les caractéristiques de votre serveur ?
            </h3>
            <span>
              Apprenez tout ce qu'il y a savoir sur les caractéristiques de votre serveurs et comment les booster
            </span>
          </div>
          <div class="img-box">
            <img class="w-100" src="{% static 'images/server-room-center-rendered-data.jpg'%}" alt="">
          </div>
          <div class="detail-box">
            <a href="">
              Read more
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="" class="price_btn">
          See More
        </a>
      </div>
    </div>
  </section>
  -->
  <!-- end price section -->

  
  <div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}